@import "tailwindcss";

html,
body,
#root {
  background-color: var(--body-bg);
  position: relative;
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

:root {
  --body-bg: #fff9f5; /* Crema muy claro, cálido y suave */
  --navbar-bg: #f7c59f; /* Melocotón pastel, cálido y acogedor */
  --navbar-texts: #5a3e36; /* Marrón chocolate, legible y cálido */
  --navbar-border: #d9a77f; /* Beige oscuro para bordes */

  --main-button: #c97c5d; /* Terracota suave, cálido y elegante */
  --main-button-hover: #e27e5d; /* Más brillante y vibrante */
  --main-button-text: #fff9f5; /* Crema claro para contraste suave */
  --main-button-text-hover: #ffffff; /* Igual para texto, mantiene contraste */
  --main-button-border: #a05a3a; /* Marrón oscuro para borde */
  --main-button-border-hover: #d4713b; /* Más claro y brillante para hover */

  --app-titles: #5a3e36; /* Igual que navbar-texts */

  --divs-bg: #fff3e6; /* Crema pastel, muy suave */
  --divs-border: #e5c9b3; /* Durazno claro para bordes */
  --divs-text: #7e5a47; /* Marrón suave para textos */

  --divs-vote-1: #e3a87c; /* Naranja quemado, cálido y amigable */
  --divs-vote-2: #88bca3; /* Verde grisáceo, calmado y equilibrado */
}
